In [10]:
from bizSupport.openlab.성이바이오.ATC코드별_시간별_성비 import all_data_merge, trend_data_by_group, trend_data

In [11]:
from bizSupport.openlab.성이바이오.ATC코드별_시간별_성비 import trend_data_by_group

In [12]:
df = trend_data_by_group(group_cd=['SEX_TP_CD'])

In [13]:
df_trend = trend_data()
total_cols_nm = {'HID_cnt':'HID_cnt_total', 'JID_cnt':'JID_cnt_total', 'AMT_sum': 'AMT_sum_total', 'TOT_USE_QTY_OR_EXEC_FQ_sum': 'TOT_USE_QTY_OR_EXEC_FQ_sum_total'}
df_trend_total= df_trend.rename(columns = total_cols_nm)

In [14]:
df_trend_total

,RV_YM,ATC_CD,HID_cnt_total,JID_cnt_total,AMT_sum_total,TOT_USE_QTY_OR_EXEC_FQ_sum_total
0,201905,N06DA02,4184,4184,265395382,1.474430e+05
1,201905,N06DA03,140,140,7705911,6.654000e+03
2,201905,N06DA04,323,323,18773191,1.189100e+04
3,201905,N06DX01,780,780,27602455,3.690230e+04
4,201905,N07AX02,10055,10055,355052277,6.961790e+05
...,...,...,...,...,...,...
115,202104,N06DA02,482834,482834,26076873503,1.688650e+07
116,202104,N06DA03,24054,24054,1894349124,1.734408e+06
117,202104,N06DA04,15916,15916,1238553614,8.171630e+05
118,202104,N06DX01,120800,120800,4482696896,6.238469e+06
119,202104,N07AX02,1027157,1027157,42448256175,8.345606e+07

In [15]:
import pandas as pd

In [16]:
df_sex_trend = pd.merge(df, df_trend_total, on = ['RV_YM', 'ATC_CD'])

In [18]:
for col_nm in ['HID_cnt', 'JID_cnt', 'AMT_sum', 'TOT_USE_QTY_OR_EXEC_FQ_sum']:
    df_sex_trend['ratio_'+ col_nm] = df_sex_trend[col_nm] / df_sex_trend[col_nm + '_total']

In [22]:
df_sex_trend.SEX_TP_CD[0]==1

True

In [23]:
df_sex_trend

,RV_YM,ATC_CD,SEX_TP_CD,HID_cnt,JID_cnt,AMT_sum,TOT_USE_QTY_OR_EXEC_FQ_sum,HID_cnt_total,JID_cnt_total,AMT_sum_total,TOT_USE_QTY_OR_EXEC_FQ_sum_total,ratio_HID_cnt,ratio_JID_cnt,ratio_AMT_sum,ratio_TOT_USE_QTY_OR_EXEC_FQ_sum
0,201905,N06DA02,1,1251,1251,75995793,4.228600e+04,4184,4184,265395382,1.474430e+05,0.298996,0.298996,0.286349,0.286796
1,201905,N06DA02,2,2933,2933,189399589,1.051570e+05,4184,4184,265395382,1.474430e+05,0.701004,0.701004,0.713651,0.713204
2,201905,N06DA03,1,37,37,2388663,2.113000e+03,140,140,7705911,6.654000e+03,0.264286,0.264286,0.309978,0.317553
3,201905,N06DA03,2,103,103,5317248,4.541000e+03,140,140,7705911,6.654000e+03,0.735714,0.735714,0.690022,0.682447
4,201905,N06DA04,1,92,92,5779697,3.615000e+03,323,323,18773191,1.189100e+04,0.284830,0.284830,0.307870,0.304011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,202104,N06DA04,2,9353,9353,811412782,4.745560e+05,15916,15916,1238553614,8.171630e+05,0.587648,0.587648,0.655129,0.580736
236,202104,N06DX01,1,33545,33545,1215073175,1.757436e+06,120800,120800,4482696896,6.238469e+06,0.277690,0.277690,0.271059,0.281709
237,202104,N06DX01,2,87255,87255,3267623721,4.481033e+06,120800,120800,4482696896,6.238469e+06,0.722310,0.722310,0.728941,0.718291
238,202104,N07AX02,1,344833,344833,14483344469,2.876303e+07,1027157,1027157,42448256175,8.345606e+07,0.335716,0.335716,0.341200,0.344649
239,202104,N07AX02,2,682324,682324,27964911706,5.469303e+07,1027157,1027157,42448256175,8.345606e+07,0.664284,0.664284,0.658800,0.655351

In [25]:

df_sex_trend.query('SEX_TP_CD == 2')

,RV_YM,ATC_CD,SEX_TP_CD,HID_cnt,JID_cnt,AMT_sum,TOT_USE_QTY_OR_EXEC_FQ_sum,HID_cnt_total,JID_cnt_total,AMT_sum_total,TOT_USE_QTY_OR_EXEC_FQ_sum_total,ratio_HID_cnt,ratio_JID_cnt,ratio_AMT_sum,ratio_TOT_USE_QTY_OR_EXEC_FQ_sum
1,201905,N06DA02,2,2933,2933,189399589,1.051570e+05,4184,4184,265395382,1.474430e+05,0.701004,0.701004,0.713651,0.713204
3,201905,N06DA03,2,103,103,5317248,4.541000e+03,140,140,7705911,6.654000e+03,0.735714,0.735714,0.690022,0.682447
5,201905,N06DA04,2,231,231,12993494,8.276000e+03,323,323,18773191,1.189100e+04,0.715170,0.715170,0.692130,0.695989
7,201905,N06DX01,2,577,577,20622575,2.735330e+04,780,780,27602455,3.690230e+04,0.739744,0.739744,0.747128,0.741236
9,201905,N07AX02,2,6210,6210,219659107,4.293230e+05,10055,10055,355052277,6.961790e+05,0.617603,0.617603,0.618667,0.616685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,202104,N06DA02,2,340847,340847,18315003717,1.179584e+07,482834,482834,26076873503,1.688650e+07,0.705930,0.705930,0.702347,0.698537
233,202104,N06DA03,2,15527,15527,1236875528,1.102718e+06,24054,24054,1894349124,1.734408e+06,0.645506,0.645506,0.652929,0.635789
235,202104,N06DA04,2,9353,9353,811412782,4.745560e+05,15916,15916,1238553614,8.171630e+05,0.587648,0.587648,0.655129,0.580736
237,202104,N06DX01,2,87255,87255,3267623721,4.481033e+06,120800,120800,4482696896,6.238469e+06,0.722310,0.722310,0.728941,0.718291
239,202104,N07AX02,2,682324,682324,27964911706,5.469303e+07,1027157,1027157,42448256175,8.345606e+07,0.664284,0.664284,0.658800,0.655351

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend

In [ ]:
df_sex_trend