## 진단수(환자수) 및 시장 규모,
### 1. 환자수 시장규모 추이 ,
시간 별
- 지역별,
- 연령별,
- 그룹별
- 입원/외래별

In [33]:
## 데이터 import
import pandas as pd
from modules.DataManipulation import DataManipulation
mani = DataManipulation()
df_inout=pd.read_excel('/home/seongeun/PycharmProjects/dataVisualization/bizSupport/openlab/스몰머신즈/data/1_3단질병성별입원외래별현황(진료년월).xls')
df_age = pd.read_excel('/home/seongeun/PycharmProjects/dataVisualization/bizSupport/openlab/스몰머신즈/data/1_3단질병성별연령5세구간별현황(진료년월).xls')
df_ykiho = pd.read_excel('/home/seongeun/PycharmProjects/dataVisualization/bizSupport/openlab/스몰머신즈/data/1_3단질병요양기관그룹별현황(진료년월).xls')
df_region = pd.read_excel('/home/seongeun/PycharmProjects/dataVisualization/bizSupport/openlab/스몰머신즈/data/1_3단질병요양기관소재지별현황(진료년월) .xls')

In [34]:
df_inout = mani.hira_excel_treats(df_inout)
df_age = mani.hira_excel_treats(df_age)
df_ykiho = mani.hira_excel_treats(df_ykiho)
df_region = mani.hira_excel_treats(df_region)

In [35]:
df_inout

     코드 성별구분 입원외래구분    환자수   내원일수   청구건수  요양급여비용총액    보험자부담금     yyyymm
1   I21    계      계  28387  59476  33924  31115014  28395167  2018년 01월
2   I21    남     소계  21754  41381  25952  23022016  21073369  2018년 01월
3   I21    남     외래  20433  23156  23212    971084    407289  2018년 01월
4   I21    남     입원   2374  18225   2740  22050932  20666080  2018년 01월
5   I21    여     소계   6633  18095   7972   8092997   7321798  2018년 01월
..  ...  ...    ...    ...    ...    ...       ...       ...        ...
3   I21    남     외래  24881  28233  28282   1360985    572307  2020년 12월
4   I21    남     입원   2076  13908   2403  23099214  21335585  2020년 12월
5   I21    여     소계   6987  14726   8276   7204939   6414514  2020년 12월
6   I21    여     외래   6513   7365   7381    333068    149271  2020년 12월
7   I21    여     입원    719   7361    895   6871871   6265243  2020년 12월

[252 rows x 9 columns]

### 2. 요양기관별 환자수 추이

In [ ]:

import plotly.express as px
df = px.data.gapminder().query("country=='Canada'")
fig = px.line(df, x="year", y="lifeExp", title='Life expectancy in Canada')
fig.show()